*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    position: relative;
  padding: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  display: block;
  padding: 5px;
  margin: 10px;
  background-color: purple;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

button:hover {
  background-color: rgb(225, 155, 247);
}

li {
  padding: 5px;
  margin: 10px;
  width: 50%;
  background-color: purple;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(225, 155, 247);
}

p {
    font-style: italic;
    color: grey;
}

.alt-colors li:nth-child(odd){
    background-color: pink;
}

#hidden {
    display: none;
}

#timer {
    position:absolute;
    top: 0;
    margin-left: 75%;
}
